
/*--------------------------------------------------------------
# general
--------------------------------------------------------------*/

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    line-height: 1.2;
    margin-block-start: 0;
    margin-block-end: 0;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

*, ::after, ::before {
    box-sizing: border-box;
}


/*--------------------------------------------------------------
# dependencies
--------------------------------------------------------------*/
.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.flex-grow-1 {
    flex-grow: 1;
}

.rounded_circle {
    border-radius: 50%;
}

.img_fluid {
    max-width: 100%;
    height: auto;
}

.text-light {
    color: #ececec;
}

.text-center {
    text-align: center;
}

.break-word {
    overflow-wrap: break-word;
}

/*--------------------------------------------------------------
# Input form
--------------------------------------------------------------*/
.form-header {
    color: white;
    text-align: center;
    line-height: 100px;
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    font-size: 3rem;
}

form {
    background-color:#161515;
    padding: 1rem;
    border-radius: 5px;
    width: 350px;
}

form input {
    background-color: rgb(27, 27, 26);
    padding: 0;
    margin-bottom: 0.75rem;
    min-height: 2.5rem;
    color: white;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    border: 0.125rem solid rgb(119, 114, 114);
    border-radius: 5px;
    box-sizing: border-box;
}

form input:focus {
    border: 0.15rem solid rgb(172, 169, 169);
    outline: none;
}

form button {
    background-color: rgb(82, 82, 76);
    margin-bottom: 0.75rem;
    padding: 0;
    min-height: 2.5rem;
    border: none;
    color: white;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.5s;
    cursor: pointer;
}

form button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

form button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

form button:hover span {
  padding-right: 25px;
}

form button:hover span:after {
  opacity: 1;
  right: 0;
}

form #moveToRegister, #moveToLogin {
    text-align: right;
    color: gray;
    
}

/*--------------------------------------------------------------
# Hero section
--------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;   
}

section h1 {
    font-size: 4rem;
}

section span {
    color: white;
}

section .section-container {
    position: relative;
    z-index: 2;
    min-width: 500px;
}

section .section-container span {
    font-size: 26px;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url("../imgs/section-image.jpg");
    background-size: cover;
}

.type-writer {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation: 
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

section h1 {
    color: white;
}

/*--------------------------------------------------------------
# Quiz start
--------------------------------------------------------------*/
#header {
    background-color:rgb(22, 21, 21);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 25rem;
    padding: 1rem;
    overflow-y: hidden;
    color: white;
}

#header #menu {
    height: 100%;
}

#header #menu #start {
    width: 100px;
    height: 120px;

    margin: auto;
    border: 1px solid rgb(168, 157, 157);
    border-radius: 2px;

    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;

    cursor: pointer;
}

#header #menu #start:hover {
    color: rgb(37, 161, 151);
    border: 3px solid rgb(37, 161, 151);
}

#header #menu #scoreContainer {
    width: 100px;
    height: 120px;

    margin: auto;
    border: 1px solid rgb(168, 157, 157);
    border-radius: 2px;

    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
}

#header #menu #scoreContainer:hover {
    color: rgb(37, 161, 151);
    border: 3px solid rgb(37, 161, 151);
}

/*--------------------------------------------------------------
# Quiz question
--------------------------------------------------------------*/
#header #quiz{
    font-family: monospace;
}

#header #quiz #quizImg {
    text-align: center;
}

#header #question p {
    font-size: 1rem;
    text-align: center;
}

#header #question-container {
    height: 370px;
}

#header #timer {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 180px;
}

#header #counter {
    font-size: 3rem;
}

#header #timeGauge {
    height: 10px;
    border-radius: 10px;
    background-color: mediumseagreen;
}

#header #progress {
    position: absolute;
    bottom: 0;
    right: 0;    
    width: 180px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: right;
}

/*--------------------------------------------------------------
# Quiz choices
--------------------------------------------------------------*/

#header .choice {
    color: rgb(252, 242, 224);
    line-height: 200%;
    text-decoration: None;
    font-size: 1rem;
    margin: 8px;

    border: 1px solid grey;
    border-radius: 5px;
    transition: 0.3s;
}

#header .choice i {
    margin-right: 1rem;
    margin-left: 1rem;
}

/*--------------------------------------------------------------
# Quiz progress
--------------------------------------------------------------*/
.prog{
    background: lightblue;
    width : 25px;
    height : 25px;
    border: 2px solid #ececec;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
}

/*--------------------------------------------------------------
# Game
--------------------------------------------------------------*/
canvas {
    position: absolute;
    left: 400px;
    width: 100vw;
    height: 100vh;
}
